.benefits__title {
  margin: 0;
  margin-bottom: 38px;

  @media #{$tablet} {
    margin-bottom: 32px;
  }
}

.benefits__list {
  display: grid;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: benefit-num;

  @media #{$tablet} {
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;
  }

  @media #{$desktop} {
    grid-template-columns: repeat(4, 1fr);
  }

}

.benefits__item {
  position: relative;
  display: flex;
  align-items: center;

  &::after {
    counter-increment: benefit-num;
    content: counter(benefit-num);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-family: $font-family-primary;
    font-size: 280px;
    line-height: 280px;
    color: $grey-100;
    z-index: -1;
  }

  @media #{$tablet} {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 230px;
    min-height: 280px;

    &::after {
      display: block;
    }
  }
}

.benefits__icon-wrapper {
  display: flex;
  min-width: 60px;
  height: 60px;
  color: $white;
  background-color: $green-basic;
  margin-right: 20px;

  @media #{$tablet} {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.benefits__icon {
  margin: auto;
}

.benefits__text {
  font-family: $font-family-secondary;
  color: $grey-500;
  margin: 0;

  @media #{$tablet} {

  }
}
