.button {
  color: $white;
  text-transform: uppercase;
  text-align: center;
  background-color: $green-basic;
  padding: 10px;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $green-dark;
  }

  &:active {
    color: rgba($white, 30%);
  }

  &--secondary {
    color: $grey-500;
    background-color: $grey-100;

    &:hover,
    &:active {
    background-color: $grey-200;

    &:active {
      color: rgba($grey-500, 30%);
    }
  }
  }
}
