.catalog__list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -20px;
  margin-right: -20px;

  @media #{$tablet} {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 0;
  }

  @media #{$desktop} {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.catalog__item {
  @media #{$tablet} {
    margin-top: 70px;
  }
}

.catalog__picture {
  @media #{$tablet} {
    margin-top: -70px;
  }
}
