.checkbox {
  display: block;
}

.checkbox__label {
  display: flex;
  align-items: center;
  color: $grey-600;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    min-width: 30px;
    height: 30px;
    border: 1px solid $grey-300;
    margin-right: 16px;
  }
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url("../../img/icons/checkbox-active.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
