.contacts {
  display: grid;
  grid-template-rows: auto auto auto;
  &--index {
    background-color: $white;
  }
}

.contacts__container {
  @media #{$desktop} {
    grid-row: 2/3;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    z-index: 2;
    pointer-events: none;
  }
}

.contacts__panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 29px;
  padding-bottom: 25px;
  pointer-events: auto;

  @media #{$tablet} {
    padding: 67px 41px 58px;
  }

  @media #{$desktop} {
    column-gap: 80px;
    background-color: $white;
    box-shadow: 0 2px 15px 0 rgba($black, 0.25);
    padding: 60px 75px;
    margin: 20px 0;
    overflow-wrap: anywhere;
  }
}

.contacts__cta {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-right: 10px;

  @media #{$tablet} {
    font-size: 20px;
    line-height: 24px;
  }
}

.contacts__address {
  font-family: $font-family-secondary;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $grey-500;

  @media #{$tablet} {
    font-size: 16px;
    text-align: right;
    margin-top: -4px;
  }

  @media #{$desktop} {
    text-align: left;
  }
}

.contacts__street,
.contacts__city {
  margin: 0;
}

.contacts__street {
  @media #{$tablet} {
    margin-bottom: 20px;
  }
}

.contacts__map {
  width: 100%;
  height: 360px;
  border: none;
  background-color: $grey-500;
  background-image: url("../img/map/map-mobile.jpg");
  background-image: image-set(
    url("../img/map/map-mobile.avif") type("image/avif"),
    url("../img/map/map-mobile.webp") type("image/webp")
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media #{$retina} {
    background-image: url("../img/map/map-mobile@2x.jpg");
    background-image: image-set(
      url("../img/map/map-mobile@2x.avif") type("image/avif"),
      url("../img/map/map-mobile@2x.webp") type("image/webp")
    );
  }

  @media #{$tablet} {
    min-height: 400px;
    background-image: url("../img/map/map-tablet.jpg");
    background-image: image-set(
      url("../img/map/map-tablet.avif") type("image/avif"),
      url("../img/map/map-tablet.webp") type("image/webp")
    );

    @media #{$retina} {
      background-image: url("../img/map/map-tablet@2x.jpg");
      background-image: image-set(
        url("../img/map/map-tablet@2x.avif") type("image/avif"),
        url("../img/map/map-tablet@2x.webp") type("image/webp")
      );
    }
  }

  @media #{$desktop} {
    grid-row: 1/-1;
    grid-column: 1/-1;
    background-image: url("../img/map/map-desktop.jpg");
    background-image: image-set(
      url("../img/map/map-desktop.avif") type("image/avif"),
      url("../img/map/map-desktop.webp") type("image/webp")
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media #{$retina} {
      background-image: url("../img/map/map-desktop@2x.jpg");
      background-image: image-set(
        url("../img/map/map-desktop@2x.avif") type("image/avif"),
        url("../img/map/map-desktop@2x.webp") type("image/webp")
      );
    }
  }
}

.contacts__map-pin {
  position: relative;
  width: 113px;
  height: 106px;
  background-image: url("../img/map/map-pin.png");
  background-image: image-set(
    url("../img/map/map-pin.avif") type("image/avif"),
    url("../img/map/map-pin.webp") type("image/webp")
  );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  margin-right: -10px;
  transform: translate(-50%,calc(-50% - 40px));

  @media #{$retina} {
    background-image: url("../img/map/map-pin@2x.png");
    background-image: image-set(
      url("../img/map/map-pin@2x.avif") type("image/avif"),
      url("../img/map/map-pin@2x.webp") type("image/webp")
    );
  }
}
