.extra-goods__title {
  margin: 0;
  margin-bottom: 36px;

  @media #{$tablet} {
    margin-bottom: 80px;
  }
}

.extra-goods__inner {
  display: grid;
  row-gap: 40px;

  @media #{$tablet} {
    row-gap: 70px;
  }

  @media #{$desktop} {
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}

.extra-goods__list {
  border-collapse: collapse;
  width: 100%;
  overflow-wrap: anywhere;
}

.extra-goods__item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid $grey-300;

  &:last-child {
    border-bottom: 1px solid $grey-300;
  }

  @media #{$tablet} {
    grid-template-columns: 50% 1fr 90px;
    gap: 25px 20px;
    border-left: 1px solid $grey-300;
    border-right: 1px solid $grey-300;
    padding: 26px 38px 28px;
  }

  @media #{$desktop} {
    grid-template-columns: 1fr 225px 70px 245px;
    align-items: center;
    border-left: none;
    border-right: none;
    padding: 15px 0 17px;
  }
}

.extra-goods__name {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: start;
  grid-column: 1/-1;

  @media #{$tablet} {
    grid-column: 1/2;
    font-size: 20px;
    line-height: 20px;
  }

  @media #{$desktop} {
    margin: 0;
  }
}

.extra-goods__amount,
.extra-goods__price {
  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 14px;

  @media #{$tablet} {
    font-size: 16px;
    line-height: 20px;
  }
}

.extra-goods__amount {
  @media #{$tablet} {
    text-align: end;
  }

  @media #{$desktop} {
    text-align: start;
  }
}

.extra-goods__price {
  text-align: end;

  @media #{$desktop} {
    text-align: start;
  }
}

.extra-goods__action {
  grid-column: 1/-1;

  @media #{$desktop} {
    grid-column: auto;
  }
}

.extra-goods__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  min-height: 289px;
  width: 100%;
  color: $white;
  background-color: $green-basic;
  background-image: url("../../img/extra-goods/gift-background.png");
  background-image: image-set(
    url("../../img/extra-goods/gift-background.avif") type("image/avif"),
    url("../../img/extra-goods/gift-background.webp") type("image/webp")
    );
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 60px;
  padding-bottom: 40px;
  overflow-wrap: anywhere;

  @media #{$retina} {
    background-image: url("../../img/extra-goods/gift-background@2x.jpg");
    background-image: image-set(
      url("../../img/extra-goods/gift-background@2x.avif") type("image/avif"),
      url("../../img/extra-goods/gift-background@2x.webp") type("image/webp")
    );
  }

  @media #{$tablet-only} {
    flex-direction: row;
    min-height: 200px;
    background-image: url("../../img/extra-goods/gift-background-tablet.png");
    background-image: image-set(
      url("../../img/extra-goods/gift-background-tablet.avif") type("image/avif"),
      url("../../img/extra-goods/gift-background-tablet.webp") type("image/webp")
    );
    padding: 64px 124px 70px 84px;

    @media #{$retina} {
      background-image: url("../../img/extra-goods/gift-background-tablet@2x.jpg");
      background-image: image-set(
        url("../../img/extra-goods/gift-background-tablet@2x.avif") type("image/avif"),
        url("../../img/extra-goods/gift-background-tablet@2x.webp") type("image/webp")
      );
    }
  }

  @media #{$desktop} {
    background-position: 50% 100%;
    padding: 40px;
    padding-top: 56px;
  }
}

.extra-goods__cta-icon {
  min-width: 56px;
  height: 60px;
}

.extra-goods__cta-text {
  font-family: $font-family-secondary;
  width: 161px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;

  @media #{$tablet-only} {
    text-align: start;
  }
}
