.field {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;

  @media #{$tablet} {
    font-size: 20px;
    line-height: 30px;
  }
}


.field__label {
  max-width: 50%;
  color: $grey-500;
  overflow-wrap: break-word;
  margin-right: 12px;
  cursor: pointer;
}

.field__input {
  flex-grow: 1;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  border: 1px solid $grey-200;
  padding: 10px 16px;

  &--email,
  &--tel {
    padding-right: 50px;
  }
}
