.form-consult {
  overflow-wrap: anywhere;
}

.form-consult__pet-program-container,
.form-consult__owner-info-container {
  display: grid;

  @media #{$desktop} {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form-consult__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;

  @media #{$tablet} {
    margin-bottom: 72px;
  }

  @media #{$desktop} {
    margin-bottom: 68px;
  }

  &--programs {
    padding: 22px 20px 18px;
    margin-right: -20px;
    margin-left: -20px;
    border: 1px solid $grey-200;
    margin-bottom: 26px;

    @media #{$tablet} {
      padding: 25px 28px 23px;
      margin: 0 0 74px;
    }

    @media #{$desktop} {
      margin-bottom: 68px;
    }
  }
}

.form-consult__legend {
  margin-bottom: 35px;

  @media #{$tablet} {
    margin-bottom: 77px;
  }
}

.form-consult__field {
  margin-bottom: 13px;

  @media #{$tablet} {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form-consult__input-control:not(:last-child) {
  margin-bottom: 13px;
}

.form-consult__owner-info-container {
  & .form-consult__field {
    @media #{$desktop} {
      margin-bottom: 0;
    }
  }
}

.form-consult__extra-list {
  display: grid;

  @media #{$tablet} {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media #{$desktop} {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.form-consult__submit-container {
  display: grid;
  row-gap: 21px;
  padding-top: 10px;

  @media #{$tablet} {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
  }
}

.form-consult__button {
  font-family: inherit;

  @media #{$tablet} {
    font-size: 20px;
    padding: 16px;
  }
}

.form-consult__footnote {
  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media #{$tablet} {
    font-size: 16px;
    text-align: left;
  }
}
