.input-field {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;

  @media #{$tablet} {
    font-size: 20px;
    line-height: 30px;
  }
}


.input-field__label {
  max-width: 50%;
  color: $grey-500;
  margin-right: 10px;
  cursor: pointer;

  @media #{$tablet} {
    margin-right: 20px;
  }
}

.input-field__input {
  flex-grow: 1;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  border: 1px solid $grey-200;
  padding: 10px 16px;

  &:hover {
    border: 1px solid $grey-300;
  }

  &:focus {
    outline: 2px solid $grey-500;
    outline-offset: -1px;

    & + .input-field__icon {
      color: $green-basic;
    }
  }

  &--error {
    outline-color: $color-error;

    & + .input-field__icon {
      color: $color-error;
    }
  }

  &--email,
  &--tel {
    padding-right: 50px;
  }
}

.input-field__icon {
  position: absolute;
  right: 0;
  width: 50px;
  color: $grey-600;
}
