.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    z-index: -1;
  }

  &::before {
    background-color: $grey-500;
    background-image: url("../../img/index-intro-cat.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &::after {
    background-color: rgba($green-basic, 85%);
  }

  @media (min-width: $tablet) {
    align-items: start;
    color: $black;
    text-align: left;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    position: static;

    &::before,
    &::after {
      display: block;
      width: 50%;
      height: 694px;
      left: auto;
      right: 0;
    }
    &::before {
      background-image: url("../../img/index-intro-cat-desktop.jpg");
      background-size: cover;
    }
  }

}

.intro__title {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
    margin-left: 80px;
  }
}

.intro__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
    margin-left: 80px;
  }
}

.intro__image {
  width: 280px;
  height: 270px;
  margin-bottom: 5px;

  @media (min-width: $tablet) {
    order: 1;
    z-index: -1;
  }
}

.intro__button {
  align-self: stretch;
  @media (min-width: $tablet) {
    align-self: start;
    font-size: 20px;
    line-height: 20px;
    margin-left: 80px;
    padding: 14px 26px;
  }
}
