.intro-index {
  position: relative;
  display: grid;
  align-items: start;
  color: $white;
  text-align: center;
  padding-top: 27px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    z-index: -1;
  }

  &::before {
    background-color: $grey-500;
    background-image: url("../../img/intro/index-background-mobile.jpg");
    background-image: image-set(
      url("../../img/intro/index-background-mobile.avif") type("image/avif"),
      url("../../img/intro/index-background-mobile.webp") type("image/webp")
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media #{$retina} {
      background-image: url("../../img/intro/index-background-mobile@2x.jpg");
      background-image: image-set(
        url("../../img/intro/index-background-mobile@2x.avif") type("image/avif"),
        url("../../img/intro/index-background-mobile@2x.webp") type("image/webp")
      );
    }
  }

  &::after {
    background-color: rgba($green-basic, 85%);
  }

  @media #{$tablet} {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    color: $black;
    text-align: left;
    padding-top: 62px;

    &::before,
    &::after {
      display: none;
    }
  }

  @media #{$desktop} {
    position: static;
    padding-top: 32px;
    padding-bottom: 54px;

    &::before,
    &::after {
      display: block;
      width: 50%;
      height: 694px;
      left: auto;
      right: 0;
    }
    &::before {
      background-image: url("../../img/intro/index-background-desktop.jpg");
      background-image: image-set(
        url("../../img/intro/index-background-desktop.avif") type("image/avif"),
        url("../../img/intro/index-background-desktop.webp") type("image/webp")
      );
      background-size: cover;

      @media #{$retina} {
        background-image: url("../../img/intro/index-background-desktop@2x.jpg");
        background-image: image-set(
          url("../../img/intro/index-background-desktop@2x.avif") type("image/avif"),
          url("../../img/intro/index-background-desktop@2x.webp") type("image/webp")
        );
      }
    }
  }

}

.intro-index__title {
  margin: 0;
  margin-bottom: 25px;

  @media #{$tablet} {
    grid-column: 1/-1;
    margin-bottom: 40px;
    margin-left: 80px;
  }

  @media #{$desktop} {
    grid-column: 1/2;
    margin-top: 80px;
  }
}

.intro-index__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;

  &:last-child {
    margin: 0;
  }

  @media #{$tablet} {
    grid-column: 1/-1;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
  }

  @media #{$desktop} {
    grid-column: 1/2;
  }
}

.intro-index__picture {
  margin-bottom: 5px;

  @media #{$tablet} {
    grid-column: 1/-1;
    grid-row: 3/5;
    justify-self: end;
    order: 1;
    margin-bottom: 0;
    z-index: -1;
  }

  @media #{$desktop} {
    grid-column: 2/-1;
    grid-row: 1/5;
    position: relative;
    right: 220px;
  }
}

.intro-index__image {
  width: 280px;
  height: 270px;

  @media #{$tablet} {
    display: block;
    width: 709px;
    height: 609px;
  }

  @media #{$desktop} {
    width: 552px;
    height: 499px;
  }
}

.intro-index__button {
  font-size: 14px;
  line-height: 18px;

  @media #{$tablet} {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: start;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 26px;
    margin-left: 80px;
    margin-top: 30px;
  }

  @media #{$desktop} {
    grid-row: auto;
  }
}
