.logo {
  @media #{$tablet} {
    display: block;

    &::before {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &:not([href]) {
      pointer-events: none;
    }
  }
}

.logo__image {
  display: block;
  min-width: 35px;
  height: 38px;

  @media #{$tablet} {
    min-width: 174px;
    height: 52px;
  }

  @media #{$desktop} {
    min-width: 202px;
    height: 59px;
  }
}
