.main-nav {
  position: relative;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  background-color: $white;
  border-bottom: 1px solid $grey-200;
}

.main-nav__link {
  display: block;
  color: $black;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
