.page-main__intro {
  margin-bottom: 22px;
  padding-top: 27px;
}

.page-main__header {
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    margin-bottom: 65px;
  }
}

.page-main__title {
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet) {
    margin-bottom: 55px;
  }
}

.page-main__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.page-main__program-types {
  margin-bottom: 27px;
}

.page-main__benefits {
  margin-bottom: 42px;
}

.page-main__form {
  margin-bottom: 30px;
}

.page-main__catalog {
  margin-bottom: 25px;
}

.page-main__extra-goods {
  margin-bottom: 35px;
}
