.page-footer {
  background-color: $grey-100;
}

.page-footer__bottom {
  display: grid;
  gap: 22px;
  padding-top: 30px;
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-top: 55px;
    padding-bottom: 60px;
  }
}

.page-footer__logo {
  justify-self: center;
  width: 128px;
  height: 24px;

  @media (min-width: $tablet) {
    justify-self: start;
  }
}

.page-footer__socials {
  border-top: 1px solid $grey-300;
  border-bottom: 1px solid $grey-300;
  padding: 20px;

  @media (min-width: $tablet) {
    border: none;
    padding: 0;
  }
}
