.page-main__intro {
  margin-bottom: 22px;
  padding-top: 27px;
}

.page-main__program-types {
  margin-bottom: 27px;
}

.page-main__benefits {
  margin-bottom: 42px;
}

.page-main__form {
  margin-bottom: 30px;
}

.page-main__catalog {
  margin-bottom: 25px;
}

.page-main__extra-goods {
  margin-bottom: 35px;
}
