.page-main__intro {
  margin-bottom: 22px;

  @media #{$tablet} {
    margin-bottom: 0;
  }

  @media #{$desktop} {
    margin-bottom: 82px;
  }
}

.page-main__header {
  padding-top: 26px;
  margin-bottom: 41px;

  @media #{$tablet} {
    padding-top: 63px;
    margin-bottom: 65px;
  }

  @media #{$desktop} {
    padding-top: 74px;
  }
}

.page-main__program-types {
  margin-bottom: 32px;

  @media #{$tablet} {
    margin-bottom: 45px;
  }

  @media #{$desktop} {
    margin-bottom: 70px;
  }
}

.page-main__benefits {
  margin-bottom: 42px;

  @media #{$tablet} {
    margin-bottom: 43px;
  }

  @media #{$desktop} {
    margin-bottom: 69px;
  }
}

.page-main__form {
  margin-bottom: 32px;

  @media #{$tablet} {
    margin-bottom: 72px;
  }

  @media #{$desktop} {
    margin-bottom: 82px;
  }
}

.page-main__catalog {
  margin-bottom: 24px;

  @media #{$tablet} {
    padding-top: 30px;
    margin-bottom: 65px;
  }

  @media #{$desktop} {
    margin-bottom: 73px;
  }
}

.page-main__extra-goods {
  margin-bottom: 35px;

  @media #{$tablet} {
    margin-bottom: 76px;
  }

  @media #{$desktop} {
    margin-bottom: 86px;
  }
}
