.textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  color: $grey-500;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid $grey-200;
  padding: 10px 15px;

  @media #{$tablet} {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
  }
}
