// Colors

$white: #ffffff;
$grey-100: #F2F2F2;
$grey-200: #EBEBEB;
$grey-300: #CDCDCD;
$grey-400: #666666;
$grey-500: #444444;
$grey-600: #222222;
$black: #000000;
$green-basic: #68B738;
$green-dark: #5EAA2F;
$color-error: #FF8282;

// Fonts

$font-family-primary: ("Oswald", "Arial", sans-serif);
$font-family-secondary: ("Arial", sans-serif);

// Container

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1280px;

$mobile-only: "(max-width: #{$width-tablet - 1})";
$tablet: "(min-width: #{$width-tablet})";
$tablet-only: "(min-width: #{$width-tablet}) and (max-width: #{$width-desktop - 1})";
$desktop: "(min-width: #{$width-desktop})";

$retina: "(min-resolution: 2dppx)";

:root {
  --container-padding-mobile: 20px;
  --container-padding: 30px;

  --container-width-mobile: (#{$width-mobile} - var(--container-padding-mobile) * 2);
  --container-width-tablet: (#{$width-tablet} - var(--container-padding) * 2);
  --container-width-desktop: (#{$width-desktop} - var(--container-padding) * 2);
}
